<% layout('layout') -%>

<div class="loginandshit">
<input type="submit" id="loginbutton" class="next" value="Log in" onClick="window.location.href='/login'"/>
<div id="ffs"></div>
  <input type="submit" id="signupbutton" class="next" value="Sign up" onClick="window.location.href='/register'"/> 
</div>
<h3>Hack created by <a href="http://twitter.com/iloveclarkkent">Greg Mackelden</a>, <a href="http://twitter.com/puntofisso">Giuseppe Sollazzo</a>, <a href="http://twitter.com/kfouwels">Kaelan Fouwels</a>, and <a href="http://twitter.com/shadjahangir">Shad Jahangir</a></h3>
