<% layout('layout') -%>

<div class="job">
  <p><%= job.description %></p>
  <p>The average pay for this job is: £<%= job.pay %></p>
</div>

<button class="next"><a href="/user">Continue</a></button>
