doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    each message in messages
        h4= message
    if (user)
      h4= user.username
      a(href='/logout') logout
    else
      a(href='/login') login
      a(href='/accounts/new') new account
    h1= title
    block content
