<!-- DO NOT REMOVE  -->
<% layout('../layout') -%>

<!-- anything below this line will be placed straight into the body tag -->
<form method="post">
  <input type="text" placeholder="User name" name="username"></input>
  <input type="password" placeholder="Password" name="password"></input>
  <input type="submit" value="Log in"></input>
</form>
