<% layout('../layout') -%>

<div id="character">
  <form method="post">
    <label>User name:</label><input type="text" name="username"></input><br />
    <label>Password:</label><input type="password" name="password"></input><br />
    <h3 id="points">
      Skill points remaining: <span class="skillpoint"></span>
    </h3>
    <div class="skills">
      <% skills.forEach(function(skill) { %>
        <div class="skill <%= skill %>" data-skill="<%= skill %>">
          <h3><%= skill %></h3>
          <h4 class="level">0</h4>
          <h4 class="ratio">
            (<span></span>&#37;)
          </h4>
          <br />
          <img class="up" src="images/uparrow.PNG" />
          <img class="down" src="images/downarrow.PNG" />
          <input name="skills[<%= skill %>]" type="hidden"></input>
        </div>
      <% }) %>
    </div>

    <input class="next" type="submit" value="Register"></input>
  </form>
</div>

